/* Main */

/*
    This section sets the margin, padding, and box-sizing for the entire page.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    This section sets the font family and background color for the entire page.
*/
body {
    font-family: Verdana (sans-serif);
    background-color: #ffffff;
    min-height: 2000px;
}

/*
    This section sets the font size and color for the entire page.
*/
footer {
    border-top: 2px solid;
    border-color: #d9d9d9;
}

/*
    This makes it so that any a tags are not underlined.
*/
a {
    text-decoration: none;
}

form {
    color: #001427;
}

form > input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #dfe0e2;
    background-color: #fff;
}

form > input[type="submit"]:hover {
    background-color: #eeeff0;
}

form > option {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #dfe0e2;
    background-color: #fff;
}
/* End of Main */

/* Navbar */
/*
    This section identifies the container for the navbar.
*/
#navbar {
    display: flex;
    height: 99px;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 2px solid;
    border-color: #d9d9d9;
    justify-content: space-between;
}

/*
    This section is for the logo and title.
*/
#logo-title-container {
    display: flex;
    margin-left: 20px;
    align-items: center;
    gap: 20px;
}

#title {
    padding: 8px;
    background-color: #001427;
    color: #dfe0e2;
    font-size: 8px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > img {
    width: 40px; /* Set the size of the logo */
    height: auto;
    margin-left: 20%;
}

/*
    This section is for the navigation links.
*/
#nav-links {
    display: flex;
    margin-left: auto;
    gap: 8px;
}

#nav-links > a {
    height: 42px;
    padding: 8px 16px;
    min-width: 62px;
    font-size: 16px;
    border-radius: 10px;
    color: #001427;
    text-align: center;
    align-content: center;
}

#nav-links > a:hover {
    background-color: #eeeff0;
}

#nav-links > a.active {
    background-color: #dfe0e2;
}

/*
  This section is for the sign in and sign up buttons.
*/
#auth-buttons {
    display: flex;
    margin-left: auto;
    right: 0;
}

#auth-buttons > a {
    margin: 6px;
    padding: 8px 16px;
    border: 3px solid;
    border-color: #001427;
    background-color: #b70900;
    color: #dfe0e2;
    border-radius: 10px;
    margin-right: 10px;
}

#auth-buttons > a:hover {
    background-color: #ca0000;
}
/* End of Navbar */

/* Classes */
/* The container must be positioned relative: */
.content {
    width: 90%;
    margin: 0 auto;
    margin-left: 10%;
    padding: 2em;
}

.content > hr {
    background-color: #dfe0e2;
    height: 3px;
    border: none;
}

.two-column-grid {
    display: grid;
    padding: 2em;
    max-width: 80%;
    height: auto;
    margin: 2em auto;
    gap: 20;
    grid-template-columns: repeat(2, 1fr);
}

.two-column-content {
    text-align: center;
    margin: 1em;
    font-size: 40px;
    width: 600px;
    color: #001427;
    border: 2px solid #dfe0e2;
    padding: 10px;
    border-radius: 8px;
}

.two-column-content > img {
    width: 100%;
    height: auto;
}

.three-column-grid {
    display: grid;
    padding: 2em;
    max-width: 80%;
    height: auto;
    margin: 2em auto;
    gap: 10;
    grid-template-columns: repeat(3, 1fr);
}

.three-column-content {
    text-align: center;
    margin: 1em;
    font-size: 40px;
    width: 400px;
    color: #001427;
    border: 2px solid #dfe0e2;
    padding: 10px;
    border-radius: 8px;
}

.three-column-content > h4 {
    text-align: right;
}
/*
    This below is for accessability and will show the description of the image when hovered over.
*/
.image-container {
    position: relative;
    display: inline-block;
}
  
.image-container img {
    display: block;
    width: 250px;
    height: 250px;
}

/*
    The description is hidden by default. It appears when you hover over the image container (parent).
    It is here for accessability.
*/
.description {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000b3; /* Semi-transparent background */
    color: white;
    padding: 5px;
    font-size: 12px;
    width: 250px;
    text-align: center;
}
  
.image-container:hover .description {
    display: block;
}
/* End of Classes */

/* Ids */

/*
    This section is for the banner container.
    It effects what colour everything is and the size of the text.
*/
#banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    font-size: 80px;
    background-color: #001427;
    color: #dfe0e2;
}

#navbar-break {
    height: 102px;
}
/* End of Ids */