<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Dojo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body>
        <header>
            <div id="navbar">
                <a href="{{ url_for('home') }}">
                <div id="logo-title-container">
                    <div id="logo">
                        <img src="{{ url_for('static', filename='ninja.png') }}" alt="Dojo logo">
                    </div>
                    
                    <div id=title>
                        <h1>The Dojo Project</h1>
                    </div>
                </div>
                </a>

                <div id="nav-links">
                    <a href="{{ url_for('home') }}" {% if active=="home" %}class="active"{% endif %}>Home</a>
                    <a href="{{ url_for('about') }}" {% if active=="about" %}class="active"{% endif %}>About</a>
                    <a href="{{ url_for('sessions') }}" {% if active=="sessions" %}class="active"{% endif %}>Sessions</a>
                    {% if organiser=="True" %}<a href="{{ url_for('setup') }}" {% if active=="setup" %}class="active"{% endif %}>Set-up</a>{% endif %}
                    <a href="{{ url_for('booking') }}" {% if active=="booking" %}class="active"{% endif %}>Booking</a>
                    <a href="{{ url_for('contact') }}" {% if active=="contact" %}class="active"{% endif %}>Contact</a>
                </div>

                <div id="auth-buttons">
                    <a href="{{ url_for('signin') }}">Sign in</a>
                    <a href="{{ url_for('signup') }}">Sign up</a>
                </div>
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>

        <footer>
            <p>&copy; Dojo project </p>
        </footer>
    </body>
</html>