{% extends('base.html') %}

{% set active='contact' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="content">
    <h1>Our session leads</h1>
    <h3>A little bit about them</h3>
    <hr>
</div>
<div class="one-column-grid">
    <div class="one-column-content">
        <div class="image-container">
            <img src="/static/employee_photos/logo.png" alt="Employee name">
            <div class="description">This is a short description of the image.</div>
        </div>
        {% for lead in leads %}
        <h3>Hi! I'm "Employee name"</h3>
        <h5>Little bit about me:</h5>
        <p>Some information about the employee</p>
        <a href="mailto:23parsonsb830@collyers.ac.uk">ben</a>
        {% endfor %}
    </div>
</div>
{% endblock %}