{% extends('base.html') %}

{% set active='home' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div id="banner-container"><h1>The Dojo Project</h1></div>
    <div class="content">
        <h1>Reviews</h1>
        <h3>Parents of previous users and their opinions on the sessions</h3>
    </div>
    
    <div class="quote-grid">
        <div class="quote">
            <h3>"Quote"</h3>
            <h4>-author</h4>
        </div>
        <div class="quote">
            <h3>"Quote"</h3>
            <h4>-author</h4>
        </div>
        
        <div class="quote">
            <h3>"Quote"</h3>
            <h4>-author</h4>
        </div>
        <div class="quote">
            <h3>"Quote"</h3>
            <h4>-author</h4>
        </div>
    </div>
{% endblock %}