{% extends('base.html') %}

{% set active='sessions' %}

{% block title %}Sessions{% endblock %}

{% block content %}
    <div class="content">
        <h1>Upcoming sessions</h1>
        <h3>Organised by date</h3>
        <hr>
    </div>
    <div class="two-column-grid">
        {% for session in sessions %}
        <div class="two-column-content">
            <h3>{{session[1]}}</h3>
            <h5>Description:<br>{{session[2]}}</h5>
            <h5>Date: {{session[3]}}</h5>
            <h5>Lead: {{session[4]}}</h5>
            <h5>Location: {{session[5]}}</h5>
            <h5>Session content: {{session[6]}}, {{session[7]}}, {{session[8]}}</h5>
            <h5>Time slots: {{session[9]}}, {{session[10]}}, {{session[11]}}</h5>
        </div>
        {% endfor %}
    </div>
{% endblock %}