{% extends('base.html') %}

{% set active='sessions' %}

{% block title %}Sessions{% endblock %}

{% block content %}
    <div class="content">
        <h1>Upcoming sessions</h1>
        <h3>Organised by date</h3>
        <hr>
    </div>
    <div class="two-column-grid">
        {% for session in sessions %}
        <div class="two-column-content">
            <div class="image-container">
                <img src="/static/logo.png" alt="Employee name">
                <div class="description">This is a short description of the image.</div>
            </div>
            <h3>Session name</h3>
            <h5>Date: {{session[1]}}</h5>
            <h5>Lead: {{session[2]}}</h5>
            <h5>Location: {{session[3]}}</h5>
            <h5>Session content: {{session[4]}}, {{session[5]}}, {{session[6]}}</h5>
        </div>
        {% endfor %}
    </div>
{% endblock %}