{% extends('base.html') %}

{% set active='setup' %}

{% block title %}Set-up{% endblock %}

{% block content %}
    <div class="content">
        <h1>Set up activities</h1>
        <h3>Enter the name of the activity you want to add.</h3>
        <hr>
        <form action="{{ url_for('setup_activity')}}" method="post" id="setup-timeslots" autocomplete = "off">
            <label for="activity">Activity name:</label>
            <input type="text" id="activity" name="activity" required><br><br>
            
            <input type="submit" value="Add activity">
        </form>
    </div>
{% endblock %}