{% extends('base.html') %}

{% set active='sign up' %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="content">
        <h1>Sign up</h1>
        <p>Welcome to the sign up page.</p>
        <br>
        <hr>
        <br>
        <form action="{{ url_for('signup')}}" method="post" id="signup" autocomplete = "off">
            <label for="forename">First name:</label><br>
            <input type="text" id="forename" name="forename" placeholder="Ada" required><br><br>
            <label for="surname">Last name:</label><br>
            <input type="text" id="surname" name="surname" placeholder="Lovelace" required><br><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" placeholder="AdaLovelace@email.com" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" placeholder="Password" required><br><br>
            <label for="confirm_password">Confirm password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password" required><br><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <h2>{{ message }}</h2>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="submit" value="Sign up">
        </form>
    </div>
{% endblock %}