{% extends ('base.html') %}

{% block title %}User panel{% endblock %}

{% block content %}
    <div class="content">
        <h1>User panel</h1>
        <hr>
    </div>
    <div class="two-column-grid">
        <div class="two-column-content">
            <p>Welcome to your user panel {{current_user.forname}}</p>
        </div>
        <div class="two-column-content">
            <p>hi</p>
            {% if current_user.access==4 %}
            <a href="{{ url_for('admin') }}">Access admin panel</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        <div class="upcoming-events">
            <h2>Your upcoming bookings</h2>
            <ul>
                {% for booking in bookings %}
                <li class="event-item"></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}